* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: lightyellow;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	        animation: color-change-4x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
  0% {
    background: lightyellow;
  }
  33.3333% {
    background: #fff0a6;
  }
  66.666% {
    background: #ffe680;
  }
  100% {
    background: #ffd966;
  }
}
@keyframes color-change-4x {
  0% {
    background: lightyellow;
  }
  33.3333% {
    background: #fff0a6;
  }
  66.666% {
    background: #ffe680;
  }
  100% {
    background: #ffd966;
  }
}


.birthday-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    text-align: center;
    padding: 20px;
    background-color: #f4c95d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

#name {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#age {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#message {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    background-color: #ffcc00;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    text-decoration: none;
    color: inherit;
} 

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: #ff9900;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#surprise-content {
  width: 90%;
  max-width: 850px;
  margin: 60px auto;
  padding: 40px;
  color: black;

  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;

  text-align: center;

  animation: fadeIn 2s ease-in-out;
}

#surprise-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#surprise-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.suprise-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.surprise-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.surprise-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#back-button {
  display: block;
  width: fit-content;
  margin: 30px auto 50px;
  padding: 12px 15px;
  background-color: #ffcc00;
  color: #333;
  font-size: 16px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}